.sub-footer {
  padding: 2rem;
  font-weight: 300 !important;
}
.footer-address {
  color: white;
}
.mobile-font-06 {
  font-size: 0.9rem;
}
.mob-small-title {
  font-size: 1.7rem;
}
.footer-contact-image {
  position: relative;
  background: asset-url(custom/contact);
  background-repeat: no-repeat;
  min-height: 450px;

  @include media-breakpoint-down(md) {
    background: asset-url(custom/contact-mob);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .footer-contact-text {
    position: absolute;
    top: 15%;
    left: 5%;
    color: white;
  }

  @include media-breakpoint-down(md) {
    .mob-none {
      display: none;
    }
  }
}

.mob-none {
   @include media-breakpoint-down(md) {
    display: none;
  }
}
.footer-spree {
  background: $footer-background;
  color: $footer-font-color;
  border-color: $global-border-style !important;
  .logo img {
    height: 27px;
    width: 62px;
    @include media-breakpoint-up(xl) {
      height: 52px;
      width: 122px;
    }
  }
  .spree-icon path {
    fill: $footer-font-color;
  }
  &-contact-note {
    font-size: font-px-to-rem(12px);
    @include media-breakpoint-up(xl) {
      font-size: font-px-to-rem(14px);
    }
  }
  &-copyright {
    border-color: $global-border-style !important;
    font-size: font-px-to-rem(9px);
    a {
      color: $footer-font-color;
      text-decoration: underline;
    }

    @include media-breakpoint-up(md) {
      font-size: font-px-to-rem(14px);
    }
    &-logo-spark {
      height: 14px;
      @include media-breakpoint-up(md) {
        height: 21px;
      }
    }
  }
  &-label {
    @include media-breakpoint-up(xl) {
      font-size: font-px-to-rem(16px);
      font-weight: 500;
    }
  }
  &-info {
    font-size: font-px-to-rem(14px);
  }
  &-menu-links {
    border-color: $global-border-style !important;
    a {
      color: $footer-font-color;
      font-size: font-px-to-rem(14px);
    }
  }
}

.cookie_bar {
  background: white;
  z-index: 100;
  display: inline-block;
  position: fixed;
  bottom: 0;

  p {
    color: #333333;
    line-height: 30px;
  }
  
  img {
    width: 75px;
  }

  &__find-out-more {
    a {
      color: black;
      border-bottom: 3px solid $primary-color;
      text-decoration: none;
    }
  }
}

#cookie_bar_button {
  border-radius: 5px;
}