.main-nav-bar {
  display: flex;
  justify-content: space-evenly;
  
  @include media-breakpoint-down(md) {
    display: -webkit-inline-box;
    max-height: 50px;
    overflow-x: scroll;
    flex-wrap: initial !important;
  }

  &-item {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: $font-weight-medium;
    padding: 0 1.5rem;
    height: 100%;
    a {
      color: white;

      &:hover {
        color: #003975 !important;
        text-decoration: none;
      }
    }
  }
  &-category {
    $self: &;
    display: flex;
    position: static;

    &:hover, &.show {
      #{$self}-button {
        text-decoration: none;
        color: #003975 !important;
        &:after {
          // border-bottom-color: #003975;
        }
      }
    }

    .dropdown-item {
      width: auto;
      padding: 0;
      background-color: transparent;
      &:hover, &:focus {
        background-color: transparent;
      }
    }

    &-button {
      background: none;
      border: none;
      color: white;
      margin: 0;
      display: flex;
      align-items: center;
      position: relative;
      &:after {
        content: '';
        display: block;
        width: calc(100% - 2rem);
        position: absolute;
        left: 1rem;
        bottom: 0.5rem;
        padding: 0;
        margin: 0;
        border: 0;
        border-bottom: 3px solid transparent;
      }
    }

    &-dropdown {
      padding: 51px 0px 51px 0px;
      min-height: 341px;
      left: 0;
      right: 0;
      width: 100%;
      position: absolute;
      top: $spree-header-mobile-height;
      margin: 0;
      border: none;
      z-index: 1000;
      background: $meganav-background;
      background-clip: padding-box;
      border-top: 1px solid $global-border-style;

      form {
        input#keywords {
          color: theme-color('dark-text');
          font-size: font-px-to-rem(14px);
          width: calc(100% - 40px);
          &:focus {
            outline: none;
          }
          &::placeholder {
            color: theme-color('borders');
          }
          &::-webkit-search-cancel-button {
            display: none;
          }
          @include media-breakpoint-up(md) {
            font-size: font-px-to-rem(22px);
          }
        }
        input[type='submit'] {
          display: none;
        }
      }

      @include media-breakpoint-up(xl) {
        top: $spree-header-desktop-height - 1px;
      }
    }
  }

  .spree-icon {
    color: theme-color('dark-text');
  }
}

#secondary-menu {
  background: $primary-color;
  border-radius: 5px;

  @include media-breakpoint-down(md) {
    display: none !important;
  }
}

.secondary-mobile-nav {
  background: $primary-color;
  border-radius: 5px;
}