.quantity-select {
  @include media-breakpoint-up(md) {
    width: 25%;
  }
  &-decrease, &-increase {
    width: 45px;
    border-radius: 0;
    font-size: font-px-to-rem(20px);
    font-weight: 500;
    background-color: theme-color("light-background");
    border: 3px solid $primary-color;
    color: $primary-color;
    @include media-breakpoint-up(sm) {
      width: 58px;
      font-size: font-px-to-rem(30px);
    }
    @include media-breakpoint-up(md) {
      width: 45px;
      font-size: font-px-to-rem(20px);
    }
  }
  &-decrease {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  &-increase {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  &-value {
    width: 46px;
    height: 45px;
    font-size: font-px-to-rem(20px);
    font-weight: 500;
    border-radius: 0;
    border: 3px solid $primary-color;
    z-index: 1;
    @include media-breakpoint-up(sm) {
      width: 58px;
      height: 58px;
      font-size: font-px-to-rem(28px);
    }
    @include media-breakpoint-up(md) {
      width: 46px;
      height: 45px;
      font-size: font-px-to-rem(20px);
    }
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }
  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
  input[type=number] {
    -webkit-appearance: none;
    -moz-appearance:textfield;
    appearance: none;
  }
}
