<div class="row align-items-center  border-bottom">
  <%= link_to hero_images_path do %>
    <%= image_tag 'icons/left_arrow.svg', width: '24px', class: 'mr-2 icon-hover'%>
  <% end %>

  <h1 class="contextual-title px-0 mb-0 col">
      <%= I18n.t("view_image", scope: ['spree', 'admin']) %>
  </h1>
</div>

<% if @hero_image.image.attached? %>
  <%= image_tag main_app.url_for(@hero_image.image), class: 'image-90 m-2' %>
<% end %>

<style>
  .image-90 {
    width: 90%;
    display: block;
    margin: auto auto;
  }
</style>
