.under-construction {
    height: 60vh;
    h1 {
        color: $primary-color;
        font-weight: 400;
        text-align: center;
    }

    img {
        margin: 0 auto;
        margin-top: 75px;
    }
}