.returns {
    &__title {
        font-size: font-px-to-rem(20px);
        @include media-breakpoint-up(md) {
            font-size: font-px-to-rem(25px);
        }
    }
    &__subtitle {
        font-size: font-px-to-rem(20px);
        @include media-breakpoint-up(md) {
            font-size: font-px-to-rem(25px);
        }
    }
    &__step {
        width: 100%;
        @include media-breakpoint-up(md) {
            width: 60%;
        }
        &__number {
            span {
                padding: 10px 23px;
                border: 2px solid $primary-color;
                border-radius: 5px;
                color: $primary-color;
            }
            border-radius: 5px;
            flex-basis: 20%;
            text-align: center;
            font-size: 20px;
            @include media-breakpoint-up(md) {
                font-size: 30px;
            }
        }
        &__content {
            flex-basis: 80%;
            font-size: 15px;
            @include media-breakpoint-up(md) {
                font-size: 20px;
            }
            &--offset {
                @include media-breakpoint-up(md) {
                    right: 60px;
                }
            }
        }
        &__withdrawal {
            font-size: 15px;
            text-align: center;
            @include media-breakpoint-up(md) {
                text-align: justify;
                font-size: 22px;
            }            
        }
        &__terms-of-use {
            position: relative;
            text-align: center;
            font-size: 18px;
            &::after {
                content: "";
                width: 50%;
                bottom: 0;
                margin: 0 auto;
                display: block;
                height: 2px;
                background-color: #000000;
            }
            @include media-breakpoint-up(md) {
                text-align: right;
                font-size: 20px;
                &::after {
                    width: 25%;
                    position: absolute;
                    right: 0;
                }
            }
        }
        a {
            color: #000000;
            text-decoration: none;
        }
    }
}