.white-text {
  color: white;
}

.offer-blue-box {
  background-color: #003975;
  border-radius: 5px;
}

.forlux-red-box {
  background-image: image-url('custom/forlux.jpg');
  background-color: #c72f43;
  border-radius: 5px;
  background: cover;
  background-repeat: no-repeat;
  min-height: 400px;
  position: relative;
  padding: 2rem;
  
  p {
    color: white;
  }

  .red-banner-text {
    color: white;
  }

  .desk-none {
    display: none
  }
  @include media-breakpoint-down(md) {
    border: 1px solid black;
    background-image: initial;
    background-color: transparent;
    color: black !important;
    padding: 10px !important;

    p, .red-banner-text {
      color: black;
    }
    .desk-none {
      display: initial;
    }
  }

  .red-banner-text-align {
    right: 20%;
    position: absolute;
    top: 15%;
    left: 5%;

    @include media-breakpoint-down(md) {
      position: initial;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      top: 10px;
      text-align: center;
    }
  }
}
.homepage-image-exp {
  @include media-breakpoint-down(md) {
    width: 80px;
  }
}

.homepage-text-exp {
  text-align: center;
  @include media-breakpoint-down(md) {
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
}
.big-blue-box {
  background: #003975;
  color: white;
  border-radius: 5px;

  padding: 2rem;
  @include media-breakpoint-up(lg) {
    padding: 5rem;
  }
}

.big-red-box {
  background: image-url('custom/banner_covid.jpg');
  border-radius: 5px;
  background: cover;
  background-repeat: no-repeat;
  min-height: 300px;
  position: relative;
  padding: 2rem;

  .red-banner-text-align {
    right: 20%;
    position: absolute;
    top: 15%;

    @include media-breakpoint-down(md) {
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
    }
    
    .red-banner-text {
      color: white;
    }
  }
}

.category-card {
  position: relative;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  transition: transform .2s;

  &:hover {
    transform: scale(1.1);
  }
  @include media-breakpoint-down(md) {
    text-align: center;
  }

  h5 {
    position: absolute;
    color: white;
    bottom: 15%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
}
.homepage {
  &-hero-image {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 204px;
    width: 100%;
    overflow: hidden;

    .hero-image {
      object-fit: cover;
      position: relative;
      z-index: 0;
      width: 100%;
      height: 100%;
    }

    @include media-breakpoint-up(md) {
      height: 418px;
    }

    @include media-breakpoint-up(lg) {
      height: 600px;
    }

    .hero-content {
      position: absolute;
      z-index: 1;
      // right: 10%;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;

      width: 100%;

      bottom: 5%;
    }

    &-text {
      font-size: font-px-to-rem(22px);
      font-weight: 500;
      line-height: 1.27;
      letter-spacing: 0.55px;
      color: $font-color;
      width: 116px;

      @include media-breakpoint-up(md) {
        font-size: font-px-to-rem(44px);
        width: 288px;
      }

      @include media-breakpoint-up(lg) {
        font-size: font-px-to-rem(54px);
      }
    }

    .spree-btn {
      &.btn-primary {
        font-size: font-px-to-rem(12px);
        font-weight: bold;
        text-transform: uppercase;
        @include media-breakpoint-up(md) {
          font-size: font-px-to-rem(24px);
        }
        @include media-breakpoint-up(lg) {
          font-size: font-px-to-rem(32px);
        }
      }
    }
  }

  &-taxon-box {
    display: block;
    flex-direction: column;
    height: 140px;
    position: relative;
    overflow: hidden;

    img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    h3 {
      margin: 0;
      width: auto;
      background: $primary-background;
      text-align: center;
      font-size: font-px-to-rem(14px);
      font-weight: 500;
      line-height: 2;
      letter-spacing: 0.35px;
      padding: 0 5%;

      @include media-breakpoint-up(md) {
        font-size: font-px-to-rem(24px);
      }

      @include media-breakpoint-up(lg) {
        font-size: font-px-to-rem(32px);
      }
    }

    @include media-breakpoint-up(md) {
      height: 324px;
    }

    @include media-breakpoint-up(lg) {
      height: 390px;
    }

    &-text {
      width: 100%;
      text-transform: uppercase;
      color: $font-color;
      position: absolute;
      left: 0;
      bottom: 21px;
      justify-content: center;
      display: flex;
    }
  }

  &-taxons-separator {
    background: $secondary-background;
    color: $secondary-font-color;
    height: 40px;

    @include media-breakpoint-up(md) {
      height: 87px;
    }
    @include media-breakpoint-up(lg) {
      height: 190px;
    }
  }

  &-fashion-trends-box {
    background: $secondary-background;
    color: $secondary-font-color;
    padding: 30px 0px;

    @include media-breakpoint-up(md) {
      padding: 60px 0px;
    }

    &-summer-text {
      font-weight: 500;
      line-height: 1.83;
      letter-spacing: 0.3px;
      text-align: center;
      color: theme-color('primary');
      font-size: font-px-to-rem(12px);

      @include media-breakpoint-up(md) {
        font-size: font-px-to-rem(24px);
      }
      @include media-breakpoint-up(lg) {
        font-size: font-px-to-rem(20px);
      }
    }

    &-fashion-trends-text {
      font-weight: 500;
      line-height: 1.22;
      letter-spacing: 0.45px;
      text-align: center;
      color: $font-color;
      font-size: font-px-to-rem(18px);

      @include media-breakpoint-up(md) {
        font-size: font-px-to-rem(36px);
      }
      @include media-breakpoint-up(lg) {
        font-size: font-px-to-rem(26px);
      }
    }

    &-description-text {
      font-weight: 500;
      line-height: 1.67;
      letter-spacing: 0.3px;
      color: $font-color;
      margin: auto;
      font-size: font-px-to-rem(12px);
      width: 283px;

      @include media-breakpoint-up(md) {
        font-size: font-px-to-rem(16px);
        width: 608px;
      }
    }
    .spree-btn {
      &.btn-outline-primary {
        border: solid 2px theme-color('primary');
        font-size: font-px-to-rem(12px);
        font-weight: bold;
        @include media-breakpoint-up(md) {
          font-size: font-px-to-rem(22px);
          width: 400px;
          padding-top: 0.7rem;
        }
        @include media-breakpoint-up(lg) {
          font-size: font-px-to-rem(20px);
          width: 497.2px;
        }
      }
    }
  }

  &-bottom-box {
    background: $secondary-background;
    color: $secondary-font-color;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 168px;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
    }

    @include media-breakpoint-up(md) {
      height: 363px;
    }
    @include media-breakpoint-up(lg) {
      height: 350px;
    }

    &-inner {
      background: $primary-background;
      margin: auto;
      padding: 10px 30px;
      position: absolute;
      width: 70%;
      left: 15%;

      @include media-breakpoint-up(md) {
        padding: 30px 100px;
      }

      &-small-text {
        font-weight: 500;
        line-height: 0.9;
        letter-spacing: 0.25px;
        text-align: center;
        color: theme-color('primary');
        font-size: font-px-to-rem(10px);

        @include media-breakpoint-up(md) {
          font-size: font-px-to-rem(18px);
        }
        @include media-breakpoint-up(lg) {
          font-size: font-px-to-rem(16px);
        }
      }

      &-big-text {
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: 0.38px;
        text-align: center;
        color: $font-color;
        font-size: font-px-to-rem(15px);

        @include media-breakpoint-up(md) {
          font-size: font-px-to-rem(27px);
        }
        @include media-breakpoint-up(lg) {
          font-size: font-px-to-rem(26px);
        }
      }
    }
  }

  &-carousel {
    a,
    a:hover,
    a:active,
    a:visited,
    a:focus {
      text-decoration: none !important;
    }
    &-text {
      font-size: 12px;

      @include media-breakpoint-up(md) {
        font-size: 22px;
      }
      @include media-breakpoint-up(lg) {
        font-size: 24px;
      }
    }
  }
}

.head-text {
  width: 50%; 
  color: white; 
  font-size: 2.2rem; 
  margin-left: 5%; 
  display: flex;
  flex-direction: column; 
  justify-content: space-evenly; 
  height: 360px;
  @include media-breakpoint-down(sm) { 
    width: 100%;
    margin: initial !important; 
    padding: 25px 5px !important;
    height: 100%;
    font-size: 1.2rem; 
  }
}
.mob-small {
  @include media-breakpoint-down(sm) {
    font-size: 1.2rem;
    margin: 0px !important;
    padding: 0px !important;
  }
}

.mob-hide {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}