<%= form_tag spree.products_path, method: :get, class: "d-flex search-form-first w-100" do %>
  <div class="w-100">
<!--     <i>
      <%= icon(name: 'search',
              classes: 'search_icon d-none d-md-inline',
              width: 27,
              height: 27) %>
    </i> -->
    <%= search_field_tag :keywords,
                        params[:keywords],
                        placeholder: Spree.t(:search),
                        autofocus: true,
                        class: "search-field-first p-2" %>
  </div>
<% end %>


<style>
  .search_icon{
    position: relative;
    float: right;
    top: 42px;
    right: 22px;
    color: #EC003B;
  }

  .search-field-first {
    border: 3px solid #EC003B;
    border-radius: 30px;
    width: 100%;
    height: 30px;
  }

  .search-field-first::placeholder {
    color: black;
    opacity: 1; /* Firefox */
  }

  .search-field-first:-ms-input-placeholder {
    color: black;
  }

  .search-field-first::-ms-input-placeholder {
    color: black;
  }

  .search-form-first {
    width: 100%;
  }
</style>
